.wrapper {
    background: transparent;
    padding-top: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 2;
}

.wrapper, #header, .box-search:not(.show) {
    background: transparent;
}

.ico-menu .bar, .ico-menu .bar::after {
    background-color: #fff;
}

.ico-svg, .logo-fill {
    fill: #202121;
}

.nav-sidebar-open {
    overflow: hidden;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 73px;
    font-size: 12px;
    font-weight: 400;
    /*background-color: #f4f7f6;
    background: transparent;*/
    z-index: 1;
    display: block;
}

#header .header-main {
    position: relative;
    display: flex;
    height: 70px;
    border-bottom: 1px solid #E6EAEA;
}

#header .header-main, #header .bt-menu {
    border-color: #E6EAEA;
}

#header .item {
    padding: 0 23px;
}

.bt-menu {
    min-width: 115px;
    height: 70px;
    border-right: 1px solid #E6EAEA;
    border-right-color: rgb(230, 234, 234);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 700px) {
    .bt-menu {
        width: 65px;
        min-width: inherit;
    }
}

.bt-menu .ico-menu {
    top: -1px;
    margin-right: 10px;
    vertical-align: middle;
}

.ico-menu {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 13px;
}

.ico-menu .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #202121;
    border-radius: 2px;
    overflow: hidden;
}

.ico-menu .bar:nth-child(1) {
    top: 0;
}

.ico-menu .bar:nth-child(2) {
    top: 4px;
}

.ico-menu .bar:nth-child(3) {
    top: 8px;
}

.bt-menu span {
    transition: all 0.3s ease-in-out;
}

@media(max-width: 700px) {
    .not-mobile, .has-tablet, .tooltip-user, .box-heading .box-right, .bt-page {
        display: none !important;
    }
}

@media(max-width: 1024px) {
    .has-desktop, #header .login, #header .logged .name, #header .header-top {
        display: none !important;
    }
}

.text-black {
    color: #202121;
}

#bt-submit {
    position: relative;
    width: 190px;
    height: 70px;
    padding: 0 !important;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

#bt-submit .button {
    width: 190px;
    height: 70px;
    padding: 0;
    line-height: 73px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.button {
    position: relative;
    display: inline-block;
    height: 60px;
    padding: 0 35px;
    background-color: #49c5b6;
    color: #fff;
    line-height: 63px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

#header .header-main > .box-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.button span {
    position: relative;
    z-index: 1;
}

#header .login {
    text-transform: uppercase;
}

#header .login, #header .logged {
    flex: 1;
    text-align: right;
}

#header .login strong {
    margin-left: 4px;
    font-weight: 600;
}

 a {
    box-shadow: none;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.logo-header {
    display: block;
    position: absolute;
    top: 21px;
    left: 50%;
    width: auto;
    height: 23px;
    line-height: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}



@media(max-width: 700px) {
    #header .box-right {
        display: block;
    }
}

@media(max-width: 700px) {
    #header .bt-search {
        height: 70px;
    }
}

#header .item {
    padding: 0 23px;
}

#header .bt-search {
    cursor: pointer;
}

#header .item .ico-svg {
    top: -1px;
    vertical-align: middle;
}

@media(max-width: 700px) {
    #header .bt-search .ico-svg {
        position: absolute;
        top: 50%;
        right: 23px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);    
    }
}

.ico-svg {
    position: relative;
    display: inline-block;
    width: auto;
    height: 14px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    transition: all 0.3s ease-in-out;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    clear: both;
    min-height: calc(100vh - 418px);
    transition: padding 0.6s ease-in-out;
    z-index: 0;
}

.block-header {
    position: relative;
    height: 470px;
    padding: 37px;
    background-color: #F6A067;
    color:#fff;
    overflow: hidden;
}

.block {
    position: relative;
    padding: 50px 0;
    transition: background 0.3s ease-in-out;
}

@media(max-width: 700px) {
    .block {
        padding-top: 50px;
        padding-bottom: 23px;
    }
}

.block-header .cover {
    position: absolute;
    top: 50px;
    left: calc(50% - 672px);
    width: auto;
    height: 100%;
}

@media(max-width: 468px) {
    .block-header .cover {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 50%;
        width: auto;
        height: 50%;
        -webkit-transform: translateX(-55%);
        transform: translateX(-55%);
    }
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0;
}

.block-header .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media(max-width: 468px) {
    .block-header {
        padding: 0;
    }
}

.inner {
    position: relative;
    width: 1905px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 66px;
    padding-right: 66px;
    clear: both;
}

.inner.width-2 {
    width: 1050px;
}

@media(max-width: 1024px) {
    .inner:not(.full-width) {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media(max-width: 700px) {
    .inner:not(.full-width) {
        padding-left: 23px;
        padding-right: 23px;
    }
}

@media(max-width: 468px) {
    .block-header .inner {
        align-items: flex-start;
    }
}

.block-header .box-title {
    padding-top: 50px;
    font-size: 17px;
    text-align: center;
}

@media(max-width: 468px) {
    .block-header .box-title {
        padding-top: 100px;
    }
}

.block-header .box-title h1 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
}

@media(max-width: 468px) {
    .block-header .box-title h1 {
        font-size: 35px;
    }
}

.block-header .box-title p {
    width: 430px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
}

@media(max-width: 468px) {
    .block-header .box-title p {
        width: auto;
    }
}

block-header .box-title p:last-child {
    margin-bottom: 0;
}

/* nav */
.nav-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    background: #f4f7f6;
    overflow-y: auto;
    z-index: 301;
    -webkit-transform: translateX(-320px);
    transform: translateX(-320px);
    transition: background 0.3s ease-in-out;
}

.nav-main .header {
    height: 70px;
    padding: 0 30px;
    line-height: 70px;
    font-size: 13px;
    font-weight: normal;
    background-color: #f4f7f6;
    border-bottom: 1px solid #E6EAEA;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.nav-main .menu {
    display: block;
}

li {
    list-style: none;
    margin-bottom: 0;
}

.nav-main .item {
    position: relative;
    display: block;
    padding: 24px 36px;
    font-size: 17px;
    font-weight: bold;
    color: #202121;
    cursor: pointer;
    background:#f4f7f6;
    border-bottom: 1px solid#E6EAEA;
    transition: background 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pull-right {
    float: right;
}

.nav-main .bt-close {
    cursor: pointer;
    padding-right: 30px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.text-uppercase {
    text-transform: uppercase;
}

.pull-left {
    float: left;
}

.link-1 {
    display: inline-block;
    color: #202121 !important;
    border-bottom: 1px solid
    rgba(32,33,33,0.5);
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-main .bt-lang {
    position: relative;
}

.nav-main .bt-lang .ico-svg {
    position: absolute;
    top: -1px;
    right: -25px;
    width: 18px;
    height: auto;
}
