@media(max-width: 700px) {
    .grid {
        margin-left: -23px;
    }
}

.grid {
    clear: both;
    margin-left: -35px;
}

.list-items {
    width: 100%;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
}

.grid .list-items [class*="col-"] {
    display: flex;
}

.grid .list-items .col-3 {
    width: 25%;
}

@media( max-width: 557px) {
    .grid .paginate .col-3, .grid .list-items .col-3, body.home .box-heading .col-3 {
        width: 100%!important;
    }
}

@media( max-width: 1009px) {
    .grid .paginate .col-3, .grid .list-items .col-3, body.home .box-heading .col-3 {
        width: 50%;
    }
}

@media( max-width: 1461px) {
    .grid .paginate .col-3, .grid .list-items .col-3, body.home .box-heading .col-3 {
        width: 33.33333%;
    }
}

.list-flex [class*="col-"], .list-flex [class*="cols-"] {
    display: flex;
}

.grid [class*="col-"] {
    position: relative;
    float: left;
    padding-left: 35px;
    padding-bottom: 35px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.list-items .box-item {
    position: relative;
    width: 100%;
    transition: background 0.3s ease-in-out;
}

.list-flex .box-item, .list-flex .box-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.rollover {
    display: block;
    background: 
    #E6EAEA;
    transition: all 0.3s ease-in-out;
}

figure {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}

.rollover .box-photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.rollover img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.lazy-loaded {
    opacity: 1;
}

figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

.rollover .above-item.top, .rollover .hover-item.top {
    top: 20px;
}
.rollover .hover-item {
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.3s ease-in-out;
}

.rollover .above-item, .rollover .hover-item {
    display: flex;
    position: absolute;
    right: 20px;
}

item.top .bt-item {
    margin-left: 10px;
}

.rollover .bt-item.bt-default, .rollover .bt-item.bt-dark {
    display: block;
    min-width: 23px;
    padding: 0 15px;
    border: 1px solid 
rgba(255,255,255,0.5);
font-size: 12px;
font-weight: 500;
color:
    #fff;
    letter-spacing: 1px;
    line-height: 32px;
}

.rollover .bt-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 32px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.bt-default {
    position: relative;
    display: inline-block;
    height: 34px;
    padding: 0 23px;
    border: 1px solid;
    border-radius: 50px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #A6ABAB;
    border-color: #DBE0DF;
}

strong {
    font-weight: 500;
}

ul, ol {
    margin-left: 0;
}

.list-items .box-info {
    position: relative;
    clear: both;
    background-color: 
    #fcfcfc;
    font-family: "apercu",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #202121;
    text-rendering: optimizeLegibility;
}

.list-flex .box-info, .list-flex .box-info .bcontent {
    flex: 1;
}

.list-flex .box-item, .list-flex .box-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.list-items .box-item div.bcontent {
    padding: 20px;
}


.list-items .box-info .footer.style2 {
    padding: 11px 20px 10px 20px;
}

.list-items .box-info .row.row-2col {
    display: flex;
    justify-content: space-between;
}

.list-items .box-info .row:last-of-type {
    margin-bottom: 0;
}

.list-items .box-info .footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    font-size: 12px;
}

.list-items .box-info .row:first-of-type {
    height: auto;
    white-space: inherit;
}

.list-items .box-info .row {
    height: 20px;
    margin-bottom: 12px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.list-items h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

.list-items h3 a {
    color: 
    #202121;
}

.list-items .box-info .row.row-2col .box-left {
    height: 20px;
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-items .box-info .footer .box-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.list-items .box-info .footer .box-right {
    display: flex;
    align-items: center;
}

.list-items .box-byuser {
    display: flex;
    align-items: center;
}

.list-items .box-byuser .item {
    position: relative;
}

.list-items .box-byuser img {
    vertical-align: middle;
    border-radius: 500%;
}

.list-items .box-byuser .by {
    flex: 1;
    padding: 0 3px 0 8px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-block {
    color: 
    #202121;
}

.list-items .box-info .footer .list-tags {
    display: flex;
}

.list-tags {
    display: inline-block;
}

.list-items .box-info .list-tags li {
    margin: 0 3px 0 0;
}

.list-tags li {
    position: relative;
    float: left;
    margin: 0 10px 10px 0;
    font-size: 14px;
}

li {
    list-style: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.list-items .box-info .footer .list-tags .item {
    cursor: default;
}

.list-items .box-info .list-tags .item {
    border: none;
}

.list-tags li.hm .item, .list-tags li.hm .item:hover, .list-tags li.hm .tooltip-text {
    background-color: #9FD2D6;
    color:#fff;
}

.list-tags li.sotd .item, .list-tags li.sotd .item:hover, .list-tags li.sotd .tooltip-text {
    background-color: #FF4E4E;
    color:#fff;
}

.list-tags.size-small .item {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 1px 5px 0 5px;
    line-height: normal;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
}

.list-tags li .item {
    position: relative;
    display: block;
    height: 34px;
    padding: 0 20px;
    line-height: 34px;
    color: #202121;
    border: 1px solid #202121;
    border-radius: 36px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.list-items .box-item .box-tooltip {
    text-align: center;
}


.tooltip .box-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 8px;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}

.tooltip .tooltip-text {
    position: relative;
    top: 0;
    left: -50%;
    width: auto;
    padding: 8px 16px;
    background-color: #49c5b6;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    border-radius: 30px;
    z-index: 970;
}