canvas {
    position: fixed;
    z-index: 2;
    opacity: .5;
    visibility: inherit;
    opacity: 0.5;
    transform: matrix(1.4, 0, 0, 1.4, 0, 0);
    display: inline-block;
    height: 100%;
}

.dude img {
    max-width: 100%;
    vertical-align: bottom;
    border: 0;
}

.dude {
    visibility: inherit;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    position: fixed;
    z-index: 4;
    bottom: -20px;
    left: -80%;
    width: 130%;
}

@media only screen and (min-width: 768px) {
    .dude {
        width: 40%;
        bottom: 0;
        left: 0;
    }
}

.bg-image {
    background: url(../../static/main-bg-home3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 103%;
    height: 120%;
    position: fixed;
    z-index: 1;
}

.title-main {
    z-index: 5;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 100%;
    padding: 0 25px;
}

.cpoyright {
    position: fixed;
    z-index: 5;
    bottom: 3px;
    right: 10px;
    a {
        color: #fff;
        font-size: 10px;
    }
}

.title-main h1 {
    text-align: center;
}

p.top-titles {
    font-family: apercu;
    color: #3f3f3f;
    text-align: center;
    font-size:15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: .2em;
}

@media only screen and (min-width: 768px) {
    .title-main {
        max-width: 600px;
        top: 85%;
    }
}

